@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Oxygen,
    Ubuntu,
    sans-serif;
}

body {
  overflow-x: hidden;
  width: 100%;
}


::-webkit-scrollbar {
  width: 8px !important;
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: rgb(168, 168, 168) !important;
  border-radius: 8px !important;
}